header{
    background-color:yellow;
    font-size:40px;
    color:blue;
    text-align:cener;
}
.logo{
    font-size:50px;
    color:red;
    text-align:right;
}
#idtag{
    font-size:70px;
    color:teal;
    text-align:center;

}